  
    <h1>sensors </h1>
    <ol>
        <li >
            <div class="icon"><i class="fas fa-truck"></i></div>
            <div class="title">{{sensor.modelo}}</div>
            <div class="descr">{{sensor.descripcion}}</div>
            <div class="descr">  *ngFor="let sensor of sensor.sensores">{{sensor.modelo}}</div>
        </li>
        
    </ol>
    <div class="credits">
        <a target="_blank" href="https://www.freepik.com/premium-vector/vector-infographic-design-template-with-icons-8-options-steps_10571883.htm">inspired by</a>
    </div>